.form{
    margin-left: 4%;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    background-image: url('../public/Component\ 38.png');
    background-repeat: no-repeat; 
    background-size: cover; 
    padding-bottom:200px ;
}

.card form ::placeholder{
    color: black;
}

.card form input{
width: 250px;
margin-left: 260px;
}

.description{
    text-align: center;
}

.form .cardTitle{
    color: #175792;
    margin-bottom: 20px;
    text-align: center;
}

/* .form .cardTitle .CardDescription{
    color: #9E9E9E;
    font-size: 2em;
} */

.btn{
    background-color: #175792;
    width: 33%;
    margin-left: 260px ;
}