.searchContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .searchInput {
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 5px;
  }
  
  .searchButton {
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16px;
    background-color: #175792;
    color: white;
    border: 1px solid ;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .searchButton:hover {
    background-color: #f4f4f4;
    color: #175792;
  }
  